@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

body {
    font-weight: 300;
    line-height: 1;
    color: $color-black;
}

* {
    font-family: 'Open Sans', sans-serif;
}
