.type {
    &--bug {
        background-color: #87950C;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--dark {
        background-color: #413831;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--dragon {
        background-color: #7361D1;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--electric {
        background-color: #E08D00;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--fairy {
        background-color: #E29FE6;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--fighting {
        background-color: #852816;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--fire {
        background-color: #CF2C03;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--flying {
        background-color: #8FA4FF;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--ghost {
        background-color: #6969AF;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--grass {
        background-color: #67AF32;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--ground {
        background-color: #C5A455;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--ice {
        background-color: #B4EDF8;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--normal {
        background-color: #C4C0B4;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--poison {
        background-color: #924990;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--psychic {
        background-color: #E25484;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--rock {
        background-color: #5E491C;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--steel {
        background-color: #7F8488;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }

    &--water {
        background-color: #3B9BF1;
        width: 11rem;
        height: 3.5rem;
        border-radius: 42px;
        color: white;
    }
}
