.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-black, 0.5);
    overflow: hidden;

    &__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding: 0.9rem;
        background: $color-neutral-200;
        border: 2px solid $color-neutral-600;
        border-radius: 1000rem;
        z-index: 2;
    }

    &__content {
        position: fixed;
        background-image: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
        box-shadow: 0 0 1px rgba($color-black, 0.3), 0 4px 8px rgba($color-black, 0.25);
        border-radius: 3px;
        height: calc(100% - 18rem);
        @media screen and (max-device-width: 800px) {
          width: 100%;
          height: 100%;
        }
    }
}

.card {
    position: relative;
    background: #F7F9FC;
    bottom: 10rem;
    border-radius: 24px 24px 0px 0px;
    min-width: 35rem;
    height: calc(100% - 10rem);
    overflow: auto;
}

.image-card {
    position: relative;
    display: flex;
    justify-content: center;
    z-index:1;
    margin-top:2rem;
}

.rounded-circle-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #00D68F;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    background-color: #FFF;
}

.rounded-circle-image > img {
    // height: 20rem;
}

.image {
    position: absolute;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-info-content {
    margin-top: 12.7rem;
    width: calc(100% - 5rem);
}

.pokemon-name {
    display: flex;
    justify-content: center;
}

.pokemon-name > h1 {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: #2E3A59;
}

.pokemon-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.pokemon-stats.after-title {
    margin-top: 0;
}

.pokemon-stats.stats {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

.pokemon-stats-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.pokemon-stats-col > h1 {
    margin-top: 1.3rem;
    color: #2E3A59;
}

.pokemon-stats-col > h3 {
    color: #2E3A59;
    text-transform: uppercase;
}

.capture {
    bottom: 10.5rem;
    position: sticky;
}

.custom {
    position: sticky;
    bottom: 4rem;
}

.custom > button {
    width: 20rem;
    height: 6rem;
    padding: 0;
    margin-right: 1rem;
}

.pokemon-stats > h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1rem;
    margin: 10px 0 20px;
    color: #2E3A59;
}

.stats-type {
    color: #2E3A59;
}

h2 > span {
    background: #F7F9FC;
    padding: 0 10px;
    color: #2E3A59;
    text-transform: uppercase;
}

.edit-name {
    width: 4.9rem;
    height: 4.9rem;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    background: #EDF1F7;
    border-radius: 4px;
    &:hover {
        background-color: $color-neutral-500;
        cursor: pointer;
    }
}

.edit-name-icon {
    width: 1rem;
    height: 1rem;
    align-self: center;
}

h3 {
    text-transform: uppercase;
}
