.home {
    background-image: linear-gradient(90deg, #43E97B 0%, #38F9D7 100% );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.logo {
    width:22.5rem;
}
