.map {
    position: relative;
    height: 100vh;
    background: url('../../images/pageBackground.png') center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ash-content {
    display: flex;
    flex-direction: column;
}

.ash {
    position: absolute;
}

.ash-tooltip {
    position: relative;
    bottom: 6.5rem;
}
